@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1,
h2,
h3 {
    color:#ffc107;
    font-family: "Press Start 2P", cursive, sans-serif;
    font-weight: 900;
}

body {
    background: url("../images/background-picture.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}
/*--------------------------------Modals*/
.input-field {
    margin-bottom: 20px;
}

.modalTitle {
    margin: 0 auto;
}

.giveUpModal .modal-content {
    background-color: #30bbe5;
    font-family: "Press Start 2P", cursive, sans-serif;
}

.giveUpModal p {
    color:#000000;
    font-weight: 900;
}

.giveUpModal h3 {
    color: red;
}

.modal-header, .modal-footer {
    border-bottom: 0;
    border-top: 0;
}

.giveUpModal button {
    margin: 0 auto;
    font-family: "Press Start 2P", cursive, sans-serif;
    color: #ff0000;
    background-color: #000000;
    border-color: #000000;
}

.winModal .modal-content {
    background-color: #68e5bd;
    font-family: "Press Start 2P", cursive, sans-serif;
}

.winModal p {
    color:#0008ff;
    font-weight: 900;
}

.winModal h3 {
    color: #ff00b1;
}

.winModal button {
    margin: 0 auto;
    font-family: "Press Start 2P", cursive, sans-serif;
    color: black;
    background-color: #ff00b1;
    border-color: #ff00b1;
}

.leaderModalContent {
    font-size: 10px;
    border: 5px solid #ff0c23;
    background-color: #616264;
}
/*--------------------------------Wrapper*/

.wrapper {
    height: 80vh;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*--------------------------------Table*/

table th, td { 
    font-family: "Press Start 2P", cursive, sans-serif;
    color:black;
    border: 2px solid rgb(43, 38, 38);
}


.st-table, .nd-table, .rd-table{
    margin-left: auto;
    margin-right: auto;
    height: 380px;
    padding-left: 0;
    padding-right: 0;  
}

.leader-table {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0; 
}

.st-table {
    height: 380px;
    width: 380px;
}


.nd-table {
    height: 380px;
    width: 380px;
    font-size: 8px;
}


.rd-table {
    height: 380px;
    width: 380px;
    font-size: 5px;
}


th {
    background-color: #ffc107;
    color: black;
}


td {
    background-color: white;
}


.dark {
    background-color: white;
}


.active {
    background-color: black;
}

/*--------------------------------Buttons*/

.btn-intr {

    font-family: 'Press Start 2P', cursive, sans-serif;
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
    margin-top: 30px;
    width: 130px;
}

.btn-intr:hover,
.btn-intr:active,
.btn-intr:focus,
.btn-intr:active:focus {
	background-color: #b58a09;
	border-color: #b58a09;
	color: white;
}

.btn-bck {
    font-family: 'Press Start 2P', cursive, sans-serif;
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 38px;
    margin-top: 10px;
}

/*--------------------------------Footer*/

footer {

   font-family: 'Press Start 2P', cursive, sans-serif;

   
}
footer a {
    color: #26cee8;
}

/*--------------------------------Media*/

@media (max-width: 575.98px) { 
    table {
        max-height: 300px;
        max-width: 300px;
    }


    .st-table {
        min-height: 280px;
        min-width: 280px;
        font-size: 8px;

    }


    h3 {
        font-size: 22px;
    }


    .nd-table {
        font-size: 6px;
        min-height: 290px;
        min-width: 290px;
    }

    
    .rd-table {
        font-size: 4px;
        min-height: 290px;
        min-width: 290px;
    }

    
    footer {
        font-size: 5px;
    }
}

