@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
    color:#ffc107;
    font-family: "Press Start 2P", cursive, sans-serif;
    font-size: 2em;
    font-weight: 900;
}

body {
    background: url("../images/background-picture.png") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}
/*--------------------------------Wrapper*/

.wrapper {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 215px;
    margin-top: 215px;

}

.center {
    margin-left: auto;
    margin-right: auto;
}
 
/*--------------------------------Buttons*/

.btn-intr {

    font-family: 'Press Start 2P', cursive, sans-serif;
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
}

.btn-intr:hover,
.btn-intr:active,
.btn-intr:focus,
btn-intr:active:focus {
	background-color: #b58a09;
	border-color: #b58a09;
	color: white;
}

.btn-bck {
    font-family: 'Press Start 2P', cursive, sans-serif;
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
    margin-left: 10px;
    margin-top: 15px;
}

/*--------------------------------Table*/

table th, td {
    font-family: "Press Start 2P", cursive, sans-serif;
    color:black;
    border: 2px solid rgb(43, 38, 38);
}

.center {
    margin-left: auto;
    margin-right: auto;
} 

th {
    background-color: #ffc107;
    color: black;
}

td {
    background-color: white;
    width: 29px;
    height: 29px;

}

.nd-r {
    width: 90px;

}

.st-r {
    height: 90px;
}

.dark {
    background-color: white;
}

.active {
    background-color: black;
}

/*--------------------------------Footer*/

footer {
   position: absolute;
   bottom: 0;
   font-family: 'Press Start 2P', cursive, sans-serif;
    width: 100%;
   
}
footer a {
    color: #26cee8;
}